<div class="notes">
    <div class="head">
        <button mat-flat-button
                (click)="toggle($event)">
                Create note
        </button>
    </div>
    <div class="searchbar">
        <input class="form-control"
               type="text"
               name="search"
               [(ngModel)]="searchText"
               autocomplete="off"
               placeholder="Start searching">
    </div>
    <app-popup [visible]="true" *ngIf="create"></app-popup>
    <app-create-note *ngIf="create"
                     (onBack)="toggle($event)"
                     (onCreateNote)="createNote($event)">
    </app-create-note>
    <div *ngFor="let note of notes | search:searchText">
        <app-note [note]="note" (onDelete)="deleteNote($event)"></app-note>
    </div>
    <button class="goup"
            *ngIf="isShow"
            (click)="gotoTop()">
            👆
    </button>
</div>